@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat+Alternates&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 200;
    color: #3a3b3b;
}

/* logo and navigation */

#logo {
    font-family: "Montserrat Alternates", sans-serif;
    letter-spacing: 2px;
    color: #3a3b3b;
    font-size: 220%;
    text-transform: uppercase;
    float: left;
    margin-left: 20px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu {
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #e0ece4;
    margin-right: 20px;
    padding: 0 20px;
    float: right;
    text-align: center;
}

#menu li {
    list-style-type: none;
    margin: 0 10px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #3a3b3b;
}

.active {
    border-bottom: 1px solid #3a3b3b;
}

/* hero image and cover text */

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/hero-img1.jpg') no-repeat bottom;
}

#cover-text {
    font-family: Kalam, sans-serif;
    font-size: 90%;
    text-align: center;

    bottom: 10px;
    left: 100px;

    width: 400px;
    height: 200px;

    position: absolute;

}

/* Main info section */

#info-section {
    height: 600px; 
    margin-top: 30px;
    
}

#info-left {
    width: 50%;
    height: 450px;
    float: left;
    background-color: #e0ece4;

}

#info-right {
    width: 50%;
    height: 450px;
    float: right;
    background: url('../images/yoga-class.jpg') no-repeat;
}

#info-text {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
}

#info-text h3 {
    padding-top: 20px;
}

.section-headings {
    text-align: center;
    font-size: 200%;
    padding: 20px 0;
}

/* Past events section */

#events-section {
    height: 800px;
}

.event-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.event-photo {
    width: 400px;
    height: 300px;
    margin-left: 1%;
}

.event-text  {
    width: 60%;
    height: fit-content;    
    padding: 0 2%;
    text-align: justify;
}

.event-text h3 {
    text-align: center;
}

.event-text h4 {
    font-family: Kalam, sans-serif;
    font-size: 90%;
    text-align: center;
    margin-bottom: 2%;
}

/* Footer */

footer {
    height: 200px;
    padding: 20px 0;
    background-color: #e0ece4;
    text-align: center;
    line-height: 45px;
}

footer hr {
    border-top: 1px solid #3a3b3b;
    width: 5%;
    margin: auto;
}

footer p {
    font-family: Kalam, sans-serif;
    font-size: 90%;
}

footer i {
    margin-left: 10px;
}

footer li {
    display: inline;
}

#social-media i {
    font-size: 150%;
    color: #3a3b3b;
    margin: 1% 2%;
    padding: 0;
}

/* About page */

/* Instructors */

#instrcutors {
    clear: both;
}

.teacher {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;

}

.teacher-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.teacher-text {
    width: 60%;
    text-align: justify;
    margin: 10px;
    margin-left: 40px;
}

/* Studio image */

#studio-pic {
    width: 900px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

/* Schedule and prices section */

#schedule-price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0;
}

#schedule-price h3 {
    text-align: center;
    padding: 20px 0;
    text-decoration: underline;
}

/* schedule */

#schedule-table th,
#schedule-table td {
    border-bottom: 1px solid #3a3b3b;
}

#schedule-table th {
    background-color: #e0ece4;
}

#schedule-table td {
    padding: 0 9px;
    font-size: 90%;
}

/* prices */

#price-table td {
    border-bottom: 1px solid #3a3b3b;
    font-size: 90%;
}

/* Contact page */

#address-form {
    clear: both;
    margin-left: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* address section */

#address {
    line-height: 25px;
    font-size: 90%;
}

#address h2 {
    margin-bottom: 9px;
}

/* contact us form */

#input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-input {
    padding: 12px;
    border: 1px solid #3a3b3b;
    border-radius: 5px;

}

#input-subject {
    padding: 12px;
    margin-top: 9px;
    width: 100%;
    border: 1px solid #3a3b3b;
    border-radius: 5px;
}

#input-message {
    margin-top: 9px;
    padding: 12px;
    border: 1px solid #3a3b3b;
    border-radius: 5px;
}

#send-button {
    margin: 9px 0;
    border: 1px solid #3a3b3b;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 30px;
    text-align: center;
    background: inherit;
    color: #3a3b3b;
    float: right;
}

#send-button:hover {
    background-color: #3a3b3b;
    color: #fafafa;
}

/* Thank you page */

#thanks {
    padding: 80px 0;
    text-align: center;
}

#thanks h2 {
    font-size: 300%;
}

#thanks p {
    font-family: Kalam, sans-serif;
    font-size: 300%;
}

#thanks i {
    color: #3a3b3b;
    font-size: 800%;
    margin: 30px 0;
}

#back-home a {
    text-decoration: none;
    padding: 15px 25px;
    color: inherit;
    background-color: #e0ece4;
    border: 1px solid #3a3b3b;
    border-radius: 5px;
}


/* Media queries */

/* Screens 1080px and down */

@media screen and (max-width: 1080px) {

    /* main info section */

    #info-section {
        height: 700px;
    }
     
    #info-left, #info-right {
        height: 600px;
    }

    #info-text {
        text-align: justify;
        width: 90%;
    }

    #info-text h3 {
        text-align: center;
        margin-bottom: 2%;
    }

    #info-right {
        background: url('../images/yoga-class.jpg') no-repeat center center;       
    }

    /* past events */

    #events-section {
        height:1100px;
        margin-top: 30px;
    }

    .event-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .event-text {
        width: 100%;
        margin-top: 20px;
        text-align: justify;        
    }

    .event-photo {
        align-self: center;
        margin-top: 20px;
    }        

    /* about page */
        
    #schedule-price {
        flex-direction: column;
        
    }
   
   #price, #schedule {
        align-self: center;
   }
}

/* Screens 768px and down */

@media screen and (max-width: 768px) {

    /* menu */
    
    #menu {
        clear: both;
        float: none;
        margin: 0 auto;
    }

    #menu li {
        margin: 0 20px;
    }

    #menu a {
        font-size: 110%;
    }

    #cover-text {
        left: 5%;        
        width: 350px;
        bottom: 60px;
    }

    /* main info section */

    #info-section {
        height: 800px;
    }
     
    #info-left, #info-right {
        height: 600px;
    }

    #info-text {
        text-align: justify;
        width: 90%;
    }

    #info-text h3 {
        text-align: center;
        margin-bottom: 2%;
    }

    #info-right {
        background: url('../images/yoga-class.jpg') no-repeat center center;       
    }

    /* past events */

    #events-section {
        height:1500px;
        margin-top: 30px;
    }

    .event-info {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .event-text {
        width: 100%;
        margin-top: 20px;
        text-align: justify;        
    }

    .event-photo {
        align-self: center;
        margin-top: 20px;
    }        

    /* about page */
        
    #schedule-price {
        flex-direction: column;
        
    }
   
   #price, #schedule {
    align-self: center;
   }

    /* contact page */

    #form {
        width: 80%;
        align-self: center;
    }

    #address-form {
        flex-direction: column;
        margin: 0 10px;
    }   

    #address {
        margin-bottom: 30px;
    }
   
    #input-container {
        flex-direction: column;
        
    }
   
    .text-input {
        margin-top: 9px;
    }

    #form textarea {
        width: 100%;
    }

} 

@media screen and (max-width: 460px) {

    #logo {
        font-size: 150%;
        line-height: 55px;
        margin-left: 5px;
        margin-top: 20px;
    }

    #menu {
        clear: both;
        float: none;
        margin: 0 auto;
    }

    #menu li {
        margin: 0 20px;
    }

    #menu a {
        font-size: 110%;
    }

    #cover-text {
        left: 0;
        margin-left: 10px;
        width: 250px;
        bottom: 70px;
    }

    /* sections: info and past events */

    #info-section {
        height: 500px;
    }

    .section-headings {
        font-size: 150%;
        padding: 20px 0;
    }

    #info-left {
        width: 100%;
        height: fit-content;
        background-color: #e0ece4;
    }

    #info-text {
        width: 90%;
        text-align: justify;
    }

    #info-text h3 {
        text-align: center;
    }

    #info-right {
        display: none;
    }

    /* events */

    #events-section {
        height:1500px;
        margin-top: 30px;
    }

    .event-info {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .event-text {
        width: 100%;
        margin-top: 20px;
        text-align: justify;        
    }

    .event-photo {
        align-self: center;
        margin-top: 20px;
    }        

        /* about page */

    .teacher {
        flex-direction: column;
        margin: 20% 10px;
    }

    .teacher-text {
        width: 95%;
        padding-right: 5%;        
    }
    

    #schedule-price {
        flex-direction: column;
        
    }

    #schedule-price th,  #schedule-price td {
        font-size: 80%;
    }

   #price, #schedule {
    align-self: center;
   }

    /* contat page */

    #address-form {
        flex-direction: column;
        margin: 0 10px;
    }   

    #address {
        margin-bottom: 30px;
    }
   
    #input-container {
        flex-direction: column;
        
    }
   
    .text-input {
        margin-top: 9px;
    }

    #form textarea {
        width: 100%;
    }

}





